<div class="container-fluid mt-5 about-style " id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About us</h1>
            <p class="text-center sub-heading">grow your bussiness with AMG 📈</p>
         <div class="row">
            {{!--left part--}}
              <div class="col-md-6 col-12 hero-text  ">
                <figure>
                     <img src="images/about.svg" alt="about_image" >
                </figure>
            </div>
            {{!--right site--}}
               <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
             <h1>AMG TECHNICAL SERVICES ✌️</h1>
             <P>The <span class="bold-style">AMG TECHNICAL SERVICES </span>Provide You A 
                Multiple Services... We're Dedicated To Giving You To Very Beat Of Work,With A Focus On Three
                Characteristics [ Dependability. Uniqness And Customer Services ] </P>
             <button class="btn-style btn-primary">read more</button>
            </div>
          
         </div>
        </div>
    </div>
</div>