<footer class="site-footer">
  <div class="container">
    <p>created with ❤️ by Chirag</p>
  </div>
  <div class="social-icons">
    <a href="https://www.instagram.com/_chirag.singh._/"><i class="fab fa-instagram fa-2x"></i></a>
    <a href="https://twitter.com/chiragsingh9099"><i class="fab fa-twitter fa-2x"></i></a>
    <a href="https://www.linkedin.com/in/chirag-singh09/"><i class="fab fa-linkedin fa-2x"></i></a>
    <a href="https://github.com/chirag3033"><i class="fab fa-github fa-2x"></i></a>
  </div>
</footer>
