{{!services page code}}

<div class="container-fluid mt-5 about-style" id="serviceid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">Services</h1>
      <p class="text-center sub-heading">grow your bussiness with AMG 📈</p>
      <div class="row">
        <div class="col-md-4">
          <div class="box">
            <div class="our-services webDev">
              <div class="icon">
                <img src="images/web.webp" alt="webdevelopment" class="s_img" />
              </div>
              <h4>Web_development</h4>
              <p>Our team of experts uses the latest technologies and design trends to ensure that your website looks great and functions perfectly.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services wedding">
              <div class="icon">
                <img src="images/wedding.jpeg" alt="wedding" class="s_img" />
              </div>
              <h4>Photography</h4>
              <p>Our team of professional photographers will work with you to ensure that your wedding memories are captured beautifully and creatively.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services lic">
              <div class="icon">
                <img src="images/insurance.JPG" alt="lic" class="s_img" />
              </div>
              <h4>Insurance</h4>
              <p>Help businesses and individuals protect their assets by providing expert licensing and insurance services.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services editing">
              <div class="icon">
                <img src="images/eding.png" alt="editing" class="s_img" />
              </div>
              <h4> Editing</h4>
              <p>Ensure that all types of content are polished, error-free, and ready for publication</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services bank">
              <div class="icon">
                <img src="images/bank.jpeg" alt="bank" class="s_img" />
              </div>
              <h4>Bank Account</h4>
              <p>Manage your finances efficiently with our bank account services</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services dmate">
              <div class="icon">
                <img src="images/dmate.jpeg" alt="dmate" class="s_img" />
              </div>
              <h4>Demat Account</h4>
              <p>Manage your investments in the stock market with our Demat account services.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>